<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Fanfiki</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
<div>
    <h1><a href="/">Fanfiki</a></h1>
</div>

{% for post in posts %}
    <div>

        <h1><a href="http://127.0.0.1:8000/kek/">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>published: {{ post.published_date }}</p>
    </div>
{% endfor %}
<footer class="footer" style="width: 100%;">
    <p © 2018</p>
</footer>
</body>
</html>
