<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    <meta charset="UTF-8">
    <title>Fanfiki</title>


</head>
<body>
<div>
    <h1><a href="/">Fanfiki</a></h1>
</div>

{% for post in posts %}
    <div>

        <h1>{{ post.title }}</h1>
        <h1>{{ post.text|linebreaksbr }}</h1>
        <h1>published: {{ post.published_date }}</h1>
    </div>
{% endfor %}
<footer class="footer" style="width: 100%;">
    <p>Sa1am9 © 2018 </p>
</footer>
</body>
</html>
